@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-color: #5F9FFF;
  --primary-color-faded: #9AC2FF;
  --text-primary-color: #5C5C5C;
  --text-faded-color: #E1E1E1;
  --background-faded-color: #FBFBFB;
}

* {
  box-sizing: border-box;
}